.container {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 600px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: grid;
  grid-area: 1 / 1 / 1/ 6;
  max-height: 10em;
}

.header__text {
  grid-area: 1 / 1/ 1/ 6;
  align-self: center;
  padding-left: 2rem;
  color: #2d2555;
}

.header__nav {
  grid-area: 1 / 4/ 1/ 6;
  align-self: center;
  justify-self: end;
}

.menu__item {
  display: inline-block;
  text-align: center;
  padding-left: 0.2em;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

.menu__item-active {
  text-decoration: none;
  color: #2d2555;
}

.menu__item-active:hover {
  color: #c2b7ff;
}

.section {
  display: flex;
  align-items: center;
}

.section__foto {
  float: left;
  margin: 1em 2em;
  max-width: 25%;
  clip-path: circle(50% at 50% 50%);
}

.footer {
  color: #2d2555;
  /* &__contacts {
        font-weight: 600;
    } */
}

.footer__social {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
}

.footer__link {
  margin-left: 0.5em;
  text-decoration: none;
  font-size: 2rem;
  color: #c2b7ff;
}
